@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: bisque;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-variant: small-caps;
} 

section {
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;   
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(32, 32, 32);
    color: darkgrey;

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.300);
    width: 400px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: rgb(131, 131, 131);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 6px;
}

a.rodape {
    color: #CF5C36;
}

a:hover.rodape {
    color: #EFC88B;
}